doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', integrity='sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B', crossorigin='anonymous')
    title Content Scraper
  body
    // Search Bar
    .container
      .row.mb-0
        .col-md-6.d-inline
          h1.mb-0 Content Scraper
        .col-md-6.mt-3
          form.form-inline(method='POST', action='/')
            .input-group.mb-3
              label.sr-only(for='search') Search
              input#search.form-control(type='text', name='search')
              .input-group-append
                button.btn.btn-primary(type='submit') Search
    // Info Cards
    .container
      .row
        each shirt in shirts
          .col-md-6
            .card
              img.card-img-top(src=`http://shirts4mike.com/${shirt.imgUrl}`, alt='Card image cap')
              .card-body
                h5.card-title #{shirt.title}
                p.card-text #{shirt.price}
                a.btn.btn-primary(href=`${shirt.url}` target="_blank") View Shirt

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', integrity='sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em', crossorigin='anonymous')
